@use 'styles/shared';

.app_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5e4e2;

  .filters_container {
    select {
      @include shared.card;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}

header {
  @include shared.card;
  @include shared.container;
  font-size: 24px;
  font-weight: 500;
  background-color: #09f;
  color: #fff;
}

footer {
  @include shared.card;
  @include shared.container;
  background-color: #36454f;
  color: #fff;
}
